$pink: #E70153;
$white: #FFFFFF;

.Card {
    .ImageContainer {
        height: 300px;
        position: relative;
        background-repeat: no-repeat;
        background-position: right;
        background-size: 310px;
        img.PlayerImage {
            position: absolute;
            bottom: 0;
        }
        .LogoContainer {
            height: 100px;
            width: 100px;
            position: absolute;
            right: 15px;
            bottom: -60px;
            background-color: #fff;
            border-radius: 100%;
            padding: 10px;
            img.TeamLogo {
                display: block;
                margin: auto;
                width: 100%;
                height: 100px;
            }
        }
    }
    .StatsContainer {
        background-color: $pink;
        padding: 20px;
        h2, p {
            color: $white;
        }
        .StatsList {
            list-style: none;
            padding: 0;
            margin: 0;
            .Stat {
                position: relative;
                background: $white;
                padding: 10px;
                margin-bottom: 2px;
                box-shadow: 1px 1px;
                span.StatValue {
                    position: absolute;
                    right: 10px;
                    font-weight: bold;
                }
            }
        }
    }
}